<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MCP.Properties.Settings.K5ConnectionString" connectionString="Data Source=YSSEUNG-THINK\SQLEXPRESS;Initial Catalog=K5;User ID=sa;Password=edps1986" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
