<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="KK5.Properties.Settings.IPK_RCPConnectionString" connectionString="Data Source=CSON01;Initial Catalog=IPK_RCP;Persist Security Info=True;User ID=aw_sa;Password=&quot;moNey=918+&quot;" providerName="System.Data.SqlClient"/>
    <add name="KK5.Properties.Settings.KK5DConnectionString" connectionString="Data Source=YSSEUNG-THINK\SQLEXPRESS;Initial Catalog=KK5D;User ID=sa;Password=edps1986;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="KK5.Properties.Settings.KK5DConnectionString1" connectionString="Data Source=10.63.41.212;Initial Catalog=KK5D;User ID=sa;Password=kk1dadmin12" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="Model1" connectionString="data source=YSSEUNG-THINK\SQLEXPRESS;initial catalog=KK5D;user id=sa;password=edps1986;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
